<p>
  So, what does an intern do exactly?
Contrary to popular belief, an internship isn’t about organising a filing cabinet or fetching coffee for your boss. The responsibilities of an intern has evolved. In many internships programs, you’ll find yourself working on project, managing a small team and even working along some executives.

It’s important you enter your internship with the right mindset. If you don’t know what to expect from your internship role, you’ll be better prepared and know what you need to do to succeed. Also, carrying out your intern responsibilities successfully will assist you in building up a potent skillset that will shine in your next role.

What is an intern?
An intern is a trainee who has signed on with an organisation for a brief period. An intern’s goal is to gain work experience, occasionally some university credit, and always an overall feel for the industry they’re interning in.

Internships may be paid, partially paid, or unpaid. However, there has been an increase in the number of paid internship opportunities, woo! The engagement period may range from a handful of weeks up to 2 years. With longer-term internships, you’ll almost always be compensated in some way. The compensation may include a monthly wage, accommodation, travel expenses, and a food allowance. Other benefits could be a stipend gym membership or even a personal laptop.

It’s also not uncommon to receive a full-time offer upon completion of your internship with a company. Studies show that employers like to hire interns and use their internships as well to source new talent for their company.      
</p>
